/vendor
# Packagist installs this one committed PHAR; every other build is generated.
/builds/*
!/builds/quickpay
/.idea
/.vscode
/.vagrant
/.superpowers
/.codex
.phpunit.result.cache
/docs/superpowers/*
